name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: true  

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.153.0"

      - name: Build
        run: hugo --config=config.toml,google_analytics.toml

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          external_repository: hueypark/hueypark.github.io
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_branch: master
          publish_dir: ./public
          cname: marsettler.com
